<main class="main character-single container">
    <div class="row d-flex">
    <figure class="text-center">
        <img src="https://via.placeholder.com/450x500" alt="{{name}}" class="img-fluid home-img">
        <figcaption class="figcap">{{name}}</figcaption>
    </figure>


</main>